.hidden {
    display:none
}

* {
    font-family:monospace
}

body, html {box-sizing:border-box;font-size:16px;
    background:#111;
    color:#fff;
    text-align:center;
    margin:0;padding:0;
    user-select: none;
}


html {
    height:100%;
    display:flex;
    flex:0 0 100%;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
}

h1 {position:fixed;top:0;left:0;width:100%;}

a.textlink {
	color:#fff;
	text-decoration:underline
}
button {
    height:3rem;
    padding:0 2rem;
    background:aquamarine;
    border:0;
    border-radius:1rem;
    text-transform:uppercase;
    margin:1rem;
    cursor:pointer;
    font-weight: bold;
}
button:hover {
    outline:.5rem solid yellow
}
button.locked {
    cursor:default;
    outline:none!important;
}
button.sbagliato {
    
    background:red;
    color:#fff;
}
button.corretto {
    background:green;
    color:#fff;
}
button.sel {
    outline:.5rem solid yellow!important
}

input,select,textarea {
    padding:1rem;
    border-radius:1rem;
}

#prof .content {
    background-color:rgba(0,0,0,.8);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    padding:10vmin;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
  }


table{
        border-collapse: collapse; /* Remove cell spacing */
    }
    table, th, td{
        border: 1px solid #666;
        font-size:1.5rem;
    }
    table th, table td{
        padding: .5rem 1rem; /* Apply cell padding */
    }


#SCORE {
    font-size:8rem;
    margin-bottom:4rem;
}

p {font-size:3rem;padding: 0 2rem;}

#question-container span {font-size:8rem}
#question-container img {max-width:100%}
#topic-selection select {background:yellow}
#player-selection select {background:orange}
div.divider { margin: 2rem 0}
#rispostina {height:2rem;min-height:2rem}

code {background-color:gray}

/* RAIMBOW TEXT */

.rainbow {
    text-align: center;
    text-decoration: underline;
    font-size: 32px;
    font-family: monospace;
    letter-spacing: 5px;
}
.rainbow_text_animated {
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}


/* BACKGROUND */
.bg {
    animation:slide 3s ease-in-out infinite alternate;
    /* background-image: linear-gradient(-60deg, #ffff00 50%, #111111 50%); */
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
 
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }


  .blink_me {
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }